* {
	box-sizing: border-box;
	/* Getting rid of Safari highlighting */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@-webkit-keyframes pencil {
	0% { -webkit-transform: rotate(0deg);	}
	50% { -webkit-transform: rotate(360deg);	}
}

html, body {
	background: #FFF;
	height: 100%;
	margin: 0;
	min-height: 480px;
	min-width: 320px;
	padding: 0;
	width: 100%;
}

#addButton { background-color: #E74C3C; border-bottom: 3px solid #C0392B;}
#addCancelField { padding: 8px; text-align: center;}

#addTaskDialog {
	/*background-color: #F00;*/
	-webkit-transition: all .375s ease-out;
	transition: all .375s ease-out;
	opacity: 1;
	/*visibility: hidden;*/
	padding: 8px;
	position: absolute;
	width: 100%;
	height: 100%;
}
#addTaskDialog.show {
	-webkit-transition: all .375s ease-out;
	transition: all .375s ease-out;
	opacity: 1;
	visibility: visible;
}
#addTaskDialog.hide {
	-webkit-transition: all .375s ease-out;
	transition: all .375s ease-out;
	opacity: 0;
	visibility: hidden;
}

#addTaskDialog h2 {
	color: #E74C3C;
	font-family: 'Roboto Light';
}

#addTaskDialog textarea {
	border: 2px solid #999;
	font-family: 'Roboto Light';
	height: 96px;
	resize: none;
	width: 100%;
}

#appLogo {
	max-width: 384px;
	display: block;
	margin: 0 auto;
	padding: 0;
	-webkit-transition: -webkit-transform .875s ease-out;
	-webkit-transform: TranslateY(-512px) rotate(0deg);
	transform: TranslateY(-512px) rotate(0deg);
}

#appLogo.active { 
	-webkit-transform: TranslateY(0px) rotate(360deg); 
	transform: TranslateY(0px) rotate(360deg);
}

.button {
	color: #FFF;
	display: block;
	font-family: 'Roboto';
	padding: 8px;
	text-align: center;
	text-decoration: none;
	width: 128px;
}

#cancelButton { background-color: #95A5A6; border-bottom: 3px solid #7F8C8D;}

.card {
	background-color: #E74C3C; 
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.card.current{
	-webkit-transition: opacity .35s ease-out .4s;
	-moz-transition: opacity .35s ease-out .4s;
	-ms-transition: opacity .35s ease-out .4s;
	-o-transition: opacity .35s ease-out .4s;
	transition: opacity .35s ease-out .4s;
	opacity: 1;
}
/* If it's not the current card, we hide it */
.card.next { visibility: hidden;}
/* We hide the previous card */
.card.previous {
	-webkit-transition: opacity .24s ease-out;
	-moz-transition: opacity .24s ease-out;
	-ms-transition: opacity .24s ease-out;
	-o-transition: opacity .24s ease-out;
	transition: opacity .24s ease-out;
	opacity: 0;
}

.cardDescription h1 {
	color: #FFF;
	font-family: 'Roboto';
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.cardDescription h2 {
	color: #FFF;
	font-family: 'Roboto Light';
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
}

.cardDescription p {
	color: #FFF;
	font-family: 'Roboto Light';
	font-size: 0.9em;
	margin: 16px 0;
	padding: 0;
	text-align: center;
}

#dateNTimeWrapper { height: 55%; overflow-y: auto;}

.field { text-align: center;}
.field p { color: #E74C3C; font-family: 'Roboto'; margin: 0; padding: 0; }


#firstCard { opacity: 0; -webkit-transition: opacity .375s ease-out;	transition: opacity .375s ease-out;}
#firstCard.active { opacity: 1; }

header {
	background-color: #E74C3C;
	height: 72px;
	position: relative;
	width: 100%;
}

img { margin: 0; padding: 0;}
#intro-view { background-color: #E74C3C;}

.loading {
	background: url('../img/loading.png') center 40% no-repeat;
	background-size: 128px 128px;	
	position: fixed;
	height: 100%;
	width: 100%;
	-webkit-animation: pencil 1s infinite;
	animation: pencil 1s infinite;
}

#main-view { background-color: #DFE2E3;} 

.next {
	color: #FFF;
	border: 1px solid #FFF;
	display: block;
	font-family: 'Roboto Light';
	margin: 0 auto;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 128px;
}

#noTasksMsg {
	bottom: 0;
	color: #333;
	font-family: 'Roboto';
	left: 0;
	margin: auto;
	position: absolute; 
	right: 0;
	text-align: center;
	top: 0;
	height: 92px;
	-webkit-transition: opacity .375s ease-out;
	transition: opacity .375s ease-out;
	/* For now */
	opacity: 0;
}
#noTasksMsg.hide {
	opacity: 0;
}

#noTasksMsg h2 { font-size: 1.7em; }
#noTasksMsg span { color: #777; font-size: 0.95em; }

#secondCard {
	bottom: 0;
	left: 0;
	height: 64px;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

#secondCard h2 { font-size: 1.5em; }
#settingsButton { display: block; height: 100%; padding: 4px;}

#tasks {
	position: absolute;
	height: 100%;
	width: 100%;
}

ul { display: inline-block; list-style: none; margin: 0; padding: 0;}
ul li { display: inline-block; margin-left: 16px;}

.view {
	display: block;
	height: 100%;
	opacity: 0;
	pointer-events: none; /* Any view is the target of mouse events (maybe children)*/
	position: fixed;
	top: 0;
	width: 100%;	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: opacity .35s ease-out;
	transition: opacity .35s ease-out;
}
.view.active{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	pointer-events: auto;
	opacity: 1;
}

.wrapper {
	height: 100%;
	margin: 0 auto;	
	position: relative;
	max-width: 960px;
}

@media screen and (max-width: 361px) {
	#appLogo { max-width: 256px;}
	header { height: 48px; }
	/*.card { background-color: #00F;}	*/
	#secondCard { padding: 0 32px 0 32px; }
	ul li { margin-left: 4px; }
}

@media screen and (min-width: 361px) and (max-width: 602px) {
	#appLogo { max-width: 384px;}
	/*.card { background-color: #0F0;}*/
	#secondCard { padding: 0 32px 0 32px; }
}

@media screen and (min-width: 603px) {
	#appLogo { max-width: 384px; }
 	/*.card { background-color: #0FF;}*/
}

/*** TESTING ***/
